.work_area {
    margin: 0 auto;
    text-align: center;
}

.tools {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    line-height: 2em;
}

#canvas{
    background: #ddd;
    margin: 0 auto;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
}

.tools>select {
    flex: 1;
}